* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.grid-item {
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

/* Add your code here */

.grid-container{
  display: grid;
  grid-template-columns: repeat(12 1fr);
  grid-template-rows: 5em 5em 5em 5em 5em;
  grid-template-areas:
  "j j j j j j a a b b"
  "j j j j j j c c b b"
  "j j j j j j d d d d"
  "e e f f f f g g h h"
  "i i i i i i i i i i";
  grid-gap:2px;
}

.item1{
  grid-area: a;
}
.item2{
  grid-area: b;
 
}
.item3{
  grid-area: c;

}
.item4{
  grid-area: d;
 
}
.item5{
  grid-area: e;
  
}
.item6{
  grid-area: f;
  
}
.item7{
  grid-area: g;
  
}
.item8{
  grid-area: h;
  
}
.item9{
  grid-area: i;

}
.item10{
  grid-area: j;

}



@media all and (max-width:768px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: 3.5em 3.5em 3.5em 3.5em 3.5em;
  }
}

@media all and (max-width:414px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: 2em 2em 2em 2em 2em;
  }
}


